

@font-face {
    src: url("Kapakana.ttf");
    font-family: "Kapakana";
}

body {
    background-color: #e2dfd2;
    text-align: center;
    margin: 0;
    color: #172674;
    font-family: 'Kanit', sans-serif;
}

header {
    background-color: #e2dfd2;
    height: 80px;
    border-bottom: 2px solid #172674;
    position: fixed;
    width: 100vw;
}

.header-name {
    display: flex;
    align-items: center;
}

.shooting-star {
    width: 70;
    height: 50;
    padding-right: 30;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vector {
    width: 40px;
    height: 40px;
    padding: 20 10 20 20;
}

.box-title {
    font-weight: 900;
    font-style: italic;
    font-size: 35;
}

#hero {
    padding: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    width: 600;
    font-weight: 100;
    font-size: 70px;
    margin-bottom: 20px;
}

#name {
    color:#24306B;
    font-family: "Kapakana";
    font-size: 100;
    font-weight: 400;
}

#subtitle {
    margin: 0;
    font-size: 25;
    font-weight: 400;
}

.star-container {
    width: 25;
    height: 15;
    margin: 0 20;
}

.container {
    border: 2px solid #172674;
    width: 470px;
    margin: 0 auto;
    padding: 5 ;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.info-section {
    border-top: 2px solid;
    border-bottom: 2px solid;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 900px) {
    .info-section {
      flex-direction: column;
    }
  }

.blue-box {
    background-color: #172674;
    height: 500;
    width: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 900px) {
    .blue-box{
      width: 100%;
    }
  }

.ponyo {
    width: 500px;
    height: 300px;
}

.ff-star {
    width: 15;
    height: 15;
    margin-right: 10;
}

.fun-fact {
    color: #e2dfd2;
    display: flex;
    align-items: center;
    margin-right: 70;
}

.fun-fact-title {
    font-weight: bold;
    margin-right: 10;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 900px) {
    .about-me {
      margin: 50 0;
    }
  }

.about-me-title {
    font-family: "Kapakana";
    text-align: center;
    font-size: 100px;
    font-weight: 400;
    width: 400px;
    margin: 0;
}

.about-me-text {
    text-align: center;
    font-size: 17px;
    width: 370;
}

.project-cards {
    display: flex;
    justify-content: center;
}

.project-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid;
}

.project-star {
    width: 26;
    height: 32;
}

.project-title {
    margin: 10 15;
}

.project-star-2 {
    height: 14;
    width: 16;
    margin: 0 5 0 15;
}

.project-info {
    width: 300;
    height: 400;
    border: 3px solid;
    border-radius: 40px;
    text-align: left;
    margin: 0 20;
}

.row-1-cards {
    display: flex;
    justify-content: center;
    margin-top: 50;
    margin-bottom: 30;
}

.row-2-cards {
    display: flex;
    justify-content: center;
    margin-bottom: 50;
}

.project-name-container {
    width: 250;
    height: 40;
    display: flex;
    align-items: center;
    border: 2px solid;
    border-radius: 70px;
    margin: 20;
    font-size: 13;
}

.project-text {
    width: 250;
    margin-left: 25;
}

.check-it-out {
    width: 150;
    height: 35;
    margin: 10 0 10 70;
    border: 2px solid #172674;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17;
    background-color: #e2dfd2;
    font-family: 'Kanit', sans-serif;
    color: #172674;
}

.check-it-out:hover {
    background-color: #172674;
    color:#e2dfd2;
}

#clear-currents-text {
    margin-bottom: 75px;
}

#catfish-text {
    margin-bottom: 50;
}

#WISE-text {
    margin-bottom: 27;
}

#web-text {
    margin-bottom: 30;
}

.skills {
    font-weight: bold;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
    margin: 0;
}

@media (max-width: 900px) {
    .contact {
      flex-direction: column;
    }
  }

.contact-title {
    font-family: "Kapakana";
    font-size: 80;
    font-weight: 400;
    margin: 0;
    width: 300px;
}

.reach-out-text {
    margin: 0;
    width: 300;
}

.socials {
    margin-top: 15;
    display: flex;
    justify-content: center;
}

#github {
    margin-right: 15;
    width: 30;
    height: 30;
}

#linkedin {
    width: 30;
    height: 30;
}

.contact-text {
    background-color: #e2dfd2;
    padding: 200 200;
}

@media (max-width: 900px) {
    .contact-text {
      padding:90 0;
    }
  }

.contact-form {
    background-color: #172674;
    display: flex;
    justify-content: space-evenly;
    padding: 110px 200px;
}

@media (max-width: 900px) {
    .contact-form {
      width: 100%;
    }
  }

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-inputs {
    font-family: 'Kanit', sans-serif;
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    border-radius: 50px;
    color: #172674;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    color: #172674;
}

.contact-inputs:focus {
    border: 2px solid #5569D1;
}

.contact-inputs::placeholder {
    color: #a9a9a9;
}

.contact-left button {
    font-family: 'Kanit', sans-serif;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    color: #172674;
    gap: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: #e2dfd2;
}

input {
    background-color: #ecebe3;
}

textarea {
    background-color: #ecebe3;
}

.contact-left button img {
    height: 20px;
}

footer {
    height: 70px;
    background-color: #e2dfd2;
    display: flex;
}

.footer-star {
    width: 30;
    height: 30;
    padding: 20;
}
